*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 1440px;
    height: 1716px;
    width: 1440px;
    background-color: #f2f2f2;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}

.main-container{
background-color: #f6f6fa;
position: relative;
}

.top{
    height: 56px;
    width: 1108.85px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 166px;
    top: 50px;
}

.logo{
    width: 78.41px;
    height: 24.8px;
}

.request{
    width: 219px;
    height: 56px;
    left: 1056px;
    top: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #172339;
    cursor: pointer;
    border-radius: 5px;
}

.rectangle{
    position: absolute;
    width: 1439px;
    height: 464px;
    left: 0px;
    top: 1252px;
    background: #F3EDE7;
}

.mid{
    height: 600px;
    width: 1110px;
    position: absolute;
   
}

.mid-text{
    height: 405px;
    width: 635px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 166px;
    top: 276px;
}

.text{
    height: 156px;
    width: 635px;
    z-index: 5;
}

.par{
    font-size: 72px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -1px;
    text-align: left;
    color: #172339;
}

.bold{
    font-weight: 700;
}

.text-2{
    width: 320px;
    height: 96px;
}

.par-2{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #49566D;
}

.request-2{
    width: 219px;
    height: 56px;
    color: #FAF8F6;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    background-color: #172339;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.image-desktop{
    height: 600px;
    width: 350px;
    position: absolute;
    left: 640px;
    top: 173px;
}

.curve-1{
    position: absolute;
    width: 287px;
    height: 32px;
    left: 455px;
    top: 222.68px;
    z-index: 3;
}

.right{
    position: absolute;
    width: 190px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 1086px;
    top: 279px;
    z-index: 3;
}

.companies{
    width: 190px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.companies-1{
    width: 190px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.companies-2{
    width: 190px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.views{
    width: 190px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
    text-align: left;
}

.little{
    width: 190px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: left;
}

.views-1{
    width: 190px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
    text-align: left;
}

.little-1{
    width: 190px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: left;
}

.views-2{
    width: 190px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
    text-align: left;
}

.little-2{
    width: 190px;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: left;
}

.bottom{
    position: absolute;
    width: 1109px;
    height: 589.56px;
    left: 167px;
    top: 927.44px;
    z-index: 5;
}

.human{
    position: absolute;
    width: 359.81px;
    height: 589.56px;
    left: 121.49px;
    z-index: 3;  
}

.bottom-background{
    width: 1109px;
    height: 545px;
    margin-top: 44.56px;
    background: #172339;
    border-radius: 15px;
}

.circle{
    position: absolute;
    width: 294px;
    height: 294px;
    margin-top: 200.56px;
    margin-left: 155.51px;
    background: #DB65E2;
    mix-blend-mode: normal;
    opacity: 0.48;
    filter: blur(67.957px);
}

.curve-2{
    position: absolute;
    width: 64.05px;
    height: 52px;
    left: 520.25px;
    margin-top: 165px;
}

.comment{
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 617px;
    top: 140px;
    color: #FAF8F6;
}

.bottom-text{
    height: 56px;
    width: 299px;
}

.text-3{
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: left;
}

.bold2{
    font-weight: 700;
}

.bottom-para{
    height: 175px;
    width: 350px;
}

.qoute{
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.1px;
text-align: left;
color: #F3EDE7;
}

.subscription{
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: left;
    color: #FAF8F6;
}

.position{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #F3EDE7;
}

footer{
    position: absolute;
    width: 1109px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 167px;
    top: 1612px;
}

.social-media{
    width: 116px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.foot{
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.08px;
    text-align: center;
    color: #49566D;
}

.logo-1{
    height: 32px;
    width: 81px;
}

.request:hover{
    background-color: #172339;
    color: #FAF8F6;;
}

.request-2:hover{
    background-image: linear-gradient(to bottom right, #A060FF, #CB30E3,#FFA84E);
}

.instagram:hover{
    filter: opacity(50%);
}

.facebook:hover{
    filter: opacity(50%);
}

.twiter:hover{
    filter: opacity(50%);
}

@media screen and (max-width:768px) {
    .top{
        width: 689px;
        height: 56px;
        left: 39px;
        top: 40px;
    }

    body{
        width: 768px;
        height: 1962px;
    }

    .main-container{
        background: #FAF8F6;
    }

    .mid{
        height: 482px;
        width: 689px;
        left: 39px;
        top: 176px;
    }

    .image-desktop{
        height: 482px;
        width: 281px;
        left: 447px;
    }

    .mid-text{
        height: 354px;
        width: 573px;
        left: 39px;
        top: 264px;
    }

    .text{
        height: 129px;
        width: 573px;
        left: 39px;
        top: 264px;
    }

    .par{
        height: 129px;
        width: 573px;
        left: 39px;
        top: 264px;
    }

    .bold{
        font-weight: 700;
    }

    .curve-1{
        height: 29px;
        width: 231.19444274902344px;
        left: 262px;
        top: 218.6756591796875px;
    }

    .right{
        height: 83px;
        width: 689px;
        left: 39px;
        top: 746px;
    }

    .companies{
        height: 83px;
        width: 223px;
        left: 39px;
        top: 746px;
    }

    .companies-1{
        height: 83px;
        width: 223px;
        left: 272px;
        top: 746px;
    }

    .companies-2{
        height: 83px;
        width: 223px;
        left: 505px;
        top: 746px;
    }

    .views{
        text-align: center;
    }

    .little{
        text-align: center;
    }

    .views-1{
        text-align: center;
    }

    .little-1{
        text-align: center;
    }

    .views-2{
        text-align: center;
    }

    .little-2{
        text-align: center;
    }

    .bottom{
        height: 865px;
        width: 689px;
        left: 39px;
        top: 921px;
    }

    .bottom-background{
        height: 684px;
        width: 689px;
        left: 39px;
        top: 1102px;
        border-radius: 15px;
    }

    .human{
        content: url('./assets/image-jeremy-small@2x.webp');
        height: 402px;
        width: 252px;
        left: 267px;
        top: 921px;
    }

    .circle{
        height: 197px;
        width: 197px;
        left: 288px;
        top: 1099px;
    }

    .curve-2{
        height: 40px;
        width: 49.26834487915039px;
        left: 408.268310546875px;
        top: 1363px;
    }

    .comment{
        height: 282px;
        width: 573px;
        left: 97px;
        top: 1440px;
    }

    .bottom-text{
        height: 48px;
        width: 573px;
        left: 0px;
        top: 0px;
    }

    .bottom-para{
        height: 96px;
        width: 573px;
        top: 88px;
    }

    .rectangle{
        height: 640px;
        width: 768px;
        top: 1322px;
    }

    .subscription{
        height: 58px;
        width: 190px;
        left: 192px;
        top: 224px;
        align-items: center;
    }

    footer{
        height: 32px;
        width: 689px;
        left: 39px;
        top: 1858px;
    }
}

@media screen (max-width:375) {
    body{
        width: 375px;
        height: 2389px;
    }

    .main-container{
        background: #FAF8F6;
    }

    .top{
        width: 343px;
        height: 48px;
        left: 16px;
        top: 24px;
    }

    .mid{
        height: 323.5px;
        width: 343.21px;
        left: 15.5px;
        top: 130.11px;
    }

    .image-desktop{
        height: 240px;
        width: 343px;
        left: 16px;
    }

    .right{
        height: 313px;
        width: 344px;
        left: 15px;
        top: 805px;
    }

    .companies{
        height: 83px;
        width: 33px;
        left: 16px;
        top: 805px;
    }

    .companies-1{
        height: 83px;
        width: 343px;
        left: 16px;
        top: 920px;
    }

    .companies-2{
        height: 83px;
        width: 343px;
        left: 16px;
        top: 1035px;
    }

    .views{
        width: 343px;
        height: 56px;
        top: 805px;
        left: 16px;
        text-align: center;
    }

    .little{
        width: 343px;
        height: 26px;
        top: 862px;
        left: 16px;
        text-align: center;
    }

    .views-1{
        width: 343px;
        height: 56px;
        top: 920px;
        left: 16px;
        text-align: center;
    }

    .little-1{
        width: 343px;
        height: 26px;
        top: 977px;
        left: 16px;
        text-align: center;
    }

    .views-2{
        width: 343px;
        height: 56px;
        top: 1035px;
        left: 16px;
        text-align: center;
    }

    .little-2{
        width: 343px;
        height: 26px;
        top: 1092px;
        left: 16px;
        text-align: center;
    }

    .bottom{
        height: 929px;
        width: 375px;
        top: 1174px;
    }

    .bottom-background{
        height: 748px;
        width: 375px;
        left: 99px;
        top: 181px;
        border-radius: 15px;
    }

    .human{
        content: url('./assets/image-jeremy-small@2x.webp');
        height: 402px;
        width: 252px;
        left: 170px;
    }

    .circle{
        height: 100px;
        width: 100px;
        left: 130px;
        top: 242px;
    }

    .curve-2{
        height: 40px;
        width: 49.27px;
        left: 163px;
        top: 1363px;
    }

    .bottom-text{
        height: 48px;
        width: 375px;
    }

    .bottom-para{
        height: 160px;
        width: 343px;
        top: 607px;
        left: 16px;
    }

    .rectangle{
        height: 420px;
        width: 377px;
        top: 1969px;
        background: #F3EDE7;
    }

    .subscription{
        height: 58px;
        width: 190px;
        left: 93px;
        top: 1981px;
        align-items: center;
    }

    footer{
        height: 150px;
        width: 125px;
        left: 124.5px;
        top: 2159px;
    }
}